body{
    background-color: cornflowerblue;    
  }

.main{
    width:700px ;
    background-color: yellowgreen;
    margin: 150px auto;
    padding:5px 10px 30px 10px;
}

.box{
    margin-left:200px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    margin:-100px auto;

  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }